</div>
<footer class="footer">
<span> | </span>
<span class="left">Created by: Sweet Disposition#9564 </span>
<span> | </span>
<% if (config.status) { %>
<a href="/status">Status</a>
<% } %>
<span> | </span>
</footer>
<script src="https://<%= domain %>/js/index.js"></script>
</body>
</html>